* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url("assets/fondo.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: #246398;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    display: flex;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
}
.brand{
    margin: 2rem;
    width: 150px;
}

.tittle{
    width: 30rem;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background: transparent;
    backdrop-filter: blur(20px);
}
box{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.intro{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    }
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.skills{
    width: 1500px;
}
.boxSkills{
    display: flex;
    justify-content: center;
}
